* {
    margin-top: 0;
    padding: 0;
}

h1{
    color: red; /* Define a cor da letra*/
    text-align: center;
    margin-top: 20px;
}

body{
    background-color: blanchedalmond; /*Define cor do corpo do site*/
}

.back{
    height: 150px;
    color: red;
    background-color: blueviolet;
    background-image: url(imagem/arvore-img.jpg);
    background-size: contain;
    background-position: center
}

.border-teste{
    color: red;
    /*Define as bordas de cima, baixo e laterais*/
    border-top: 2px solid black;
    border-left: 2px solid blue;
    border-right: 2px solid rgb(0, 246, 127);
    border-bottom: 2px solid orangered;
    border-radius: 10px;
}

.margin-teste{
    /*Define as margin de cima, baixo e laterais*/
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.padding-teste{
    border: 2px solid black;
    padding: 20px;
}

.botao{
    margin-left: 30px;
    margin-top: 50px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.botao:hover{
    background: blue;
}

.altura-largura{
    max-width: 800px;
    border: 2px solid black;
    width: 265px;
    height: 400px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

.botao-principal{
    color: red;
    border: 2px solid blue;
}